@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'HallymGothic-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
} */

html,
body {
  margin: 0;
}

textarea {
  resize: none;
}

.blog-post-content h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-orange-600;
}

.blog-post-content p {
  @apply mb-1 text-gray-800;
}
